Repository guipatriota/EasyOrder: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings-length, pytest

.pre-commit-config.yaml:

repos:
  # Formatador: Black
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3.12

  # Organizacao de imports: isort (alinhado com Black)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
        language_version: python3.12

  # Lint: Flake8
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - pep8-naming
          - flake8-docstrings
        language_version: python3.12

  # Seu verificador de docstrings
  - repo: local
    hooks:
      - id: check-docstrings-length
        name: Check docstrings length
        entry: python tools/check_docstrings_length.py
        language: system
        files: ^(src/|tests/).*\.(py)$
        stages: [pre-commit]

  # Testes com cobertura (mais pesado) - s√≥ no pre-push
  - repo: local
    hooks:
      - id: pytest
        name: Run pytest with coverage (pre-push)
        entry: pytest
        language: system
        args:
          - "--maxfail=1"
          - "--disable-warnings"
          - "--cov=src"
          - "--cov-branch"
          - "--cov-report=term-missing"
          - "--cov-fail-under=75"
        pass_filenames: false
        stages: [pre-commit]
        exclude: |
          ^Dockerfile$|
          ^README\.md$|
          ^\.gitignore$|
          ^LICENSE$|
          ^\.dockerignore$|
          ^\.devcontainer/devcontainer\.json$|
          ^docs/screenshots/home\.jpg$|
          ^\.github/workflows/ci\.yml$

Remove pre-commit installation from test stage in Dockerfile
  Dockerfile
Due: none

Add initial print statement in aula.py
  src/aula.py
Due: check-docstrings-length, pytest

Refactor postCreateCommand and Dockerfile to streamline pre-commit setup
  .devcontainer/devcontainer.json
  Dockerfile
Due: pytest

Refactor devcontainer and Dockerfile setup; improve code formatting and organization in multiple files
  .devcontainer/devcontainer.json
  Dockerfile
  src/db/memory_db.py
  src/main.py
  src/models/order.py
  src/models/order_item.py
  src/routes/orders.py
  tests/integration/test_integration.py
  tests/unit/test_orders.py
Due: check-docstrings-length, pytest

Refactor test step in CI workflow; simplify volume mounts and ensure coverage report path is correctly set
  .github/workflows/ci.yml
Due: pytest

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: pytest

Update tools/check_docstrings_length.py
  tools/check_docstrings_length.py
Due: pytest

Update ci.yml
  .github/workflows/ci.yml
Due: pytest

Refactor docstring formatting and update check_docstrings_length.py for clarity
  .pre-commit-config.yaml
  src/aula.py
  src/routes/__init__.py
  tests/__init__.py
  tests/integration/__init__.py
  tests/unit/__init__.py
  tools/check_docstrings_length.py
Due: check-docstrings-length, pytest

Remove redundant line in CI workflow for coverage artifact naming
  .github/workflows/ci.yml
Due: pytest

Enhance CI workflow to create coverage reports directory and update coverage report path
  .github/workflows/ci.yml
  .gitignore
Due: pytest

Update workflow trigger to include 'develop/docs/sphinx' branch
  .github/workflows/docs.yml
Due: pytest

Fix paths in documentation workflow for consistency
  .github/workflows/docs.yml
Due: pytest

Refactor documentation workflow to install package in editable mode and ensure PYTHONPATH is set for API stub generation and Sphinx build steps
  .github/workflows/docs.yml
Due: pytest

Update README and pyproject.toml for documentation and dependency improvements
  README.md
  pyproject.toml
Due: pytest

Update README.md
  README.md
Due: pytest

Add print statement for GitHub Pages documentation deployment
  src/aula.py
Due: check-docstrings-length, pytest

Add Continuous Deployment workflow for EasyOrder
  .github/workflows/cd.yml
Due: pytest

Update Dockerfile to include Node.js and npm in the development environment
  Dockerfile
Due: none

fix: Add AWS session token to credentials configuration in CD workflow
  .github/workflows/cd.yml
Due: pytest
